@{
    Layout = "_LayoutEmployer";
}
<body class="dream-job">
        <div class="dream-job_title">
            Đăng tin <span class="main-color">tuyển dụng </span> miễn phí
        </div>
        <div class="dream_job_thumbnail">
            <img src="~/media/Group 60.png" class="rounded mx-auto d-block" id="thumbnail-1" alt="...">   
            <img src="~/media/Group 54.png" class="rounded mx-auto d-block" id="thumbnail-2" alt="...">   
        </div>
</body>
