
<body class="dream-job">
        <div class="dream-job_title">
            Tìm kiếm <span class="main-color">việc làm </span> mơ ước
        </div>
        <div class="dream_job_thumbnail">
            <img src="~/media/Group 60.png" class="rounded mx-auto d-block" id="thumbnail-1" alt="...">   
            <img src="~/media/Group 54.png" class="rounded mx-auto d-block" id="thumbnail-2" alt="...">   
        </div>
</body>

