@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<form id="change-password-form" method="post">
    <div class="jsx-3272395647 your-account_form-header__17u4l">
        <h3>Thay đổi mật khẩu</h3>
        <div class="jsx-3272395647 your-account_btn-submit-desk__2XPYx">
            <div class="ant-form-item-control-input-content">
                <button id="update-profile-button" type="submit" class="ant-btn ant-btn-primary" style="width: 100%;">Lưu thay đổi</button>
            </div>
        </div>
    </div>
    <hr />
    <partial name="_StatusMessage" for="StatusMessage" />
<div class="ant-col">     
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ant-col-12 pe-3 ps-3 ant-form-item">
                <label asp-for="Input.OldPassword" class="form-label ant-col ant-form-item-label"></label>
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group ant-col-12 pe-3 ps-3 ant-form-item">
                <label asp-for="Input.NewPassword" class="form-label ant-col ant-form-item-label"></label>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group ant-col-12 pe-3 ps-3 ant-form-item">
                <label asp-for="Input.ConfirmPassword" class="form-label ant-col ant-form-item-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
</div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
